body {
  background-color: gray;
}
.jumbotron {
    background-image: url("Biomaterials-Science-HERO.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white;
  }
@media only screen and (max-width: 600px) {
  res {
    width: 75%;
  }
}